<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.member.model.mapper.MemberMapper">
    <resultMap id="memberResultMap" type="com.ohgiraffers.member.model.dto.MemberDTO">
        <id property="code" column="MEMBER_CODE"/>
        <result property="name" column="MEMBER_NAME"/>
        <result property="birthDate" column="BIRTH_DATE"/>
        <result property="region" column="DETAIL_INFO"/>
        <result property="contact" column="CONTACT"/>
        <result property="activeStatus" column="ACTIVE_STATUS"/>
    </resultMap>

    <select id="selectAllMember" resultMap="memberResultMap">
        SELECT
                MEMBER_CODE,
                MEMBER_NAME,
                BIRTH_DATE,
                DETAIL_INFO,
                CONTACT,
                ACTIVE_STATUS
        FROM    member_info
        WHERE   ACTIVE_STATUS = 'Y'
        ORDER BY MEMBER_CODE
    </select>


</mapper>