<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.member.MemberMapper">
    <resultMap id="memberResultMap" type="com.ohgiraffers.member.model.MemberDTO">
        <id property="code" column="MEMBER_CODE"/>
        <result property="name" column="MEMBER_NAME"/>
        <result property="birthDate" column="BIRTH_DATE"/>
        <result property="info" column="DETAIL_INFO"/>
        <result property="contact" column="CONTACT"/>
        <result property="activeStatus" column="ACTIVE_STATUS"/>
    </resultMap>

    <select id="selectAllMember" resultMap="memberResultMap">
        SELECT
            member_code,
            member_name,
            birth_date,
            detail_info,
            contact,
            active_status
        FROM member_info
        WHERE active_status = 'Y'
        ORDER BY member_code
    </select>

    <select id="selectMemberByCode" resultMap="memberResultMap">
        SELECT
            member_code,
            member_name,
            birth_date,
            detail_info,
            contact,
            active_status
        FROM member_info
        WHERE active_status = 'Y'
        AND member_code = #{ code }
    </select>

    <insert id="insertMember" parameterType="com.ohgiraffers.member.model.MemberDTO">
        INSERT
            INTO member_info (
                member_name,
                birth_date,
                detail_info,
                contact,
                active_status
                )
        VALUES (
                #{ name },
                #{ birthDate },
                #{ info },
                #{ contact },
                'Y'
                )
    </insert>

    <update id="updateMember">
        UPDATE member_info
        SET member_name = #{ name },
            birth_date = #{ birthDate },
            detail_info = #{ info },
            contact = #{ contact }
        WHERE member_code = #{ code }
    </update>

    <delete id="deleteMember" parameterType="_int">
        DELETE
            FROM member_info
        WHERE member_code = #{ code }
    </delete>
</mapper>